/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'Noto Sans', sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  /*line-height: 1;*/
  padding: 2%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  line-height: 1.5;
}
html,
body {
  height: 100%;
}
nav {
  display: flex;
  flex-direction: row-reverse;
}
nav .navbar {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  nav .navbar {
    width: 100%;
  }
}
nav .navbar a:hover {
  color: grey;
}
nav a {
  text-decoration: none;
  color: #c72c41;
  font-size: 1.25rem;
  padding-bottom: 3%;
  text-shadow: 1px 1px 3px #2d132c;
}
header {
  display: flex;
  flex-direction: row;
  height: 60vh;
  justify-content: space-around;
}
@media (max-width: 500px) {
  header {
    flex-wrap: wrap;
    justify-content: unset;
  }
}
header .title {
  display: flex;
  align-items: center;
  width: 40%;
}
@media (max-width: 500px) {
  header .title {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
header .title h1 {
  font-size: 3rem;
  margin: 0;
}
header .header-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 58%;
  padding: 1%;
}
@media (max-width: 500px) {
  header .header-text {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 60vh;
  }
  header .header-text h2 {
    font-size: 2rem;
  }
  header .header-text p {
    font-size: 1rem;
    line-height: 1;
  }
}
header .header-text h2 {
  color: #c72c41;
  text-shadow: 1px 1px 2px #2d132c;
}
header .header-text p {
  color: #c72c41;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #2d132c;
}
h1 {
  color: #2d132c;
  text-shadow: 1px 1px 4px #c72c41;
  font-size: 5rem;
  text-align: center;
  padding-left: 2%;
}
h2 {
  color: #2d132c;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 2px 2px 1px #c72c41;
  font-weight: bold;
}
h3 {
  color: #2d132c;
  font-size: 1.5rem;
  font-weight: bold;
}
i {
  color: #c72c41;
  font-size: 5rem;
  padding-top: 2%;
  padding-bottom: 2%;
}
hr {
  border: 1px dashed black;
}
.main-content {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-bottom: 3%;
}
@media (max-width: 500px) {
  .main-content {
    flex-direction: column;
    flex-wrap: none;
  }
}
.main-content .box {
  width: 37%;
  padding: 2%;
}
@media (max-width: 500px) {
  .main-content .box {
    width: 100%;
  }
}
.main-content p {
  padding-top: 2%;
  color: #2d132c;
  font-size: 1.1rem;
}
.bottom-content {
  padding-top: 3%;
  display: flex;
  justify-content: center;
  padding-bottom: 6%;
}
.bottom-content .jobs {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-evenly;
  text-align: center;
  background-color: #c72c41;
}
@media (max-width: 500px) {
  .bottom-content .jobs {
    width: 33%;
  }
}
.bottom-content h3,
.bottom-content h4,
.bottom-content p {
  color: #2d132c;
  border: 0.8px solid #2d132c;
  padding: 1%;
}
.bottom-content h3 {
  font-size: 1.2rem;
  font-weight: bold;
}
.bottom-content p {
  font-size: 1rem;
}
